@charset 'utf-8';
@import url(./reset.css);

:root {
  /* color */
  --mode-color: #7035DF;
  
  /* size */
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #FFC7C7;
}

/* 네비게이션 */
.nav-area {
  padding: 30px;
}

.nav-area > nav {
  display: flex;
  justify-content: space-between;
}

.nav-area > nav .nav-item {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-moon {
  font-size: 24px;
  color: var(--mode-color);
  text-shadow: 0 1px 5px rgb(0 0 0 / 25%);
  transform: rotate(-20deg);
  transition: 180ms ease-in;
}

.fa-moon:hover {
  transform: rotate(-20deg) scale(1.1);
}

input[type="color"] {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: black;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

/* 섹션 */
.section-area {
  padding: 0 100px;
}

.section-card {
  padding: 140px 0;
}

.section-card .section-title {
  margin-bottom: 180px;
  display: flex;
}

.section-card .section-title > span {
  font-size: 72px;
  text-shadow: 0 1px 5px rgb(0 0 0 / 25%);
}

.section-card .info-area {
  display: flex;
}

.section-card .section-info {
  width: 50%;
}

.section-info .info-title {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}

.section-info .info-title > span {
  padding: 5px 0;
}

.section-info .info-content {
  font-size: 18px;
  padding: 3px 0;
  color: #808082;
  display: flex;
}

.fa-cloud-sun {
  margin-right: 5px;
}
